[submodule "engine/modules/graphics/lib/vulkan-zig"]
	path = engine/modules/graphics/lib/vulkan-zig
	url = https://github.com/peterino2/vulkan-zig.git 
[submodule "engine/modules\\graphics\\lib\\objLoader"]
	path = engine/modules/graphics/lib/objLoader
	url = https://github.com/peterino2/zig_obj_loader.git
[submodule "engine/modules\\graphics\\lib\\cimgui"]
	path = engine/modules/graphics/lib/cimgui
	url = https://github.com/peterino2/cimgui.git
[submodule "engine/modules/core/lib/Zig-Tracy"]
	path = engine/modules/core/lib/Zig-Tracy
	url = https://github.com/SpexGuy/Zig-Tracy.git
[submodule "engine/modules/audio/lib/miniaudio"]
	path = engine/modules/audio/lib/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "engine/projects/neurophobia/zig-halcyon"]
	path = engine/projects/neurophobia/zig-halcyon
	url = https://github.com/peterino2/zig-halcyon.git
